table,td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 550px;
    font-size: 55px;
    height: 130px;
    table-layout: fixed;
}

#resultado {
    font-size: 30px;
    height: 110px;
   
}
